*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules/*
!/node_modules/@capacitor/
/node_modules/@capacitor/*
!/node_modules/@capacitor/network/
!/node_modules/@capacitor/network/**
/node_modules/@capacitor/network/dist/
/node_modules/@capacitor/network/android/
/node_modules/@capacitor/network/README.md
/node_modules/@capacitor/network/LICENSE
!/node_modules/@capacitor/device/
!/node_modules/@capacitor/device/**
/node_modules/@capacitor/device/dist/
/node_modules/@capacitor/device/android/
/node_modules/@capacitor/device/README.md
/node_modules/@capacitor/device/LICENSE
!/node_modules/@capacitor/push-notifications/
!/node_modules/@capacitor/push-notifications/**
/node_modules/@capacitor/push-notifications/dist/
/node_modules/@capacitor/push-notifications/android/
/node_modules/@capacitor/push-notifications/README.md
/node_modules/@capacitor/push-notifications/LICENSE
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
