## Copie este arquivo para `android/keystore.properties` e preencha.

## NÃO suba `android/keystore.properties` nem o arquivo `.jks` para o git.
##
## Exemplo:
## storeFile=novasemente-release.jks
## storePassword=********
## keyAlias=novasemente
## keyPassword=********

storeFile=novasemente-release.jks
storePassword=Mariana@novo@123
keyAlias=novasemente
keyPassword=Mariana@novo@123
